
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f1df;
}

.header {
    background-color: #fcdf2d;
    padding-bottom: 20px;
}

.header h1 {
    display: inline-block;
    height: fit-content;
    padding-top: 20px;
    color: white;
    font-size: 48px;
}

.header h1 .seo {
    background-color:rgb(22, 60, 78);
    justify-content: right;
    align-items: center;
    padding: 5px 10px 10px 100px;
}

nav {
    margin-right: 100px;
    margin-top: 43px;
    float: right;
    color: rgb(22, 60, 78);
    font-size: 20px;
    font-weight: bold;  
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline rgb(22, 60, 78) 2px;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    
}

.banner {
    position: relative;
    text-align: center;
    color: rgb(22, 60, 78);
    height: auto;
    width: fit-content;
}

.bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 400px;
    background-color:#fcdf2d;
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    right: 50px;
}

footer {
    padding: 20px;
    color: white;
    background-color:rgb(22, 60, 78);
    text-align: center;
}

 .container {
    display: flex;
    align-items: right;
    background-color: #f8f1df;
    padding: 0;
    margin: 0;
}


.titles {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    padding-right: 5px;
    height: auto;
    width: 25%;
    color: rgb(22 60 78);
    font-size: xx-large;
    font-weight: bold;
}

.content1 {
    display: block;
    margin-top: 20px;
    line-height: 145%;
    padding: 10px 20px 10px 30px;
    width: 75%;
    max-width: 1000px;
    color: black;
    border-left: solid 3px rgb(22, 60, 78);
}

.content2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 145%;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 10px 20px 10px 30px;
    width: 75%;
    color: black;
    border-left: solid 3px rgb(22, 60, 78);
}

.img1 {
    width: 925px;
    height: 400px;
    max-width: 1000px;
    margin: 10px;
    border: solid 7px red;
    object-fit: cover;
}

.img2 {
    width: 450px;
    height: 200px;
    margin: 10px;
    border: solid 7px red;
    object-fit: cover;
}

.contact {
    color: rgb(22, 60, 78);
    font-size: 20px;
    font-weight: bold;
    word-spacing: 80px;
}
/*
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 10px 10px;
    height: fit-content;
    width: fit-content;
    line-height: 70%;
    background-color:red;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    bottom: 120px;
}

#titletext1 {
    color: #f8f1df;
    padding-top: 10px;
    font-size: large;
    font-weight: lighter;
} */